.projectDiv {
  margin-top: 40px;
}

.projectItemDiv {
  display: flex;
  flex-direction: column;
}

.educationTimeText {
  font-size: 16px;
  color: var(--white);
  font-family: 'Poppins';
  font-weight: 300;
  margin-top: 5px;
}

.projectDescriptionText {
  font-size: 18px;
  color: var(--white);
  font-family: 'Poppins';
  font-weight: 300;
  margin-top: 10px;
}

.pointText {
  margin-left: 10px;
  margin-top: 10px;
  color: var(--white);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 300;
}