:root {
  --blue: #152837;
  --yellow: #ffbd59;
  --dark-yellow: #e69f34;
  --black: #000000;
  --white: #ffffff;
  --blue-text: #00204b;
  background-color: var(--blue);
}

body {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}